---
Language: Cpp
BasedOnStyle: LLVM
PointerAlignment: Left
IndentCaseLabels: true
ContinuationIndentWidth: 2
ConstructorInitializerIndentWidth: 2
SpaceAfterTemplateKeyword: false
BinPackArguments: false
BinPackParameters: false
---
Language: JavaScript
BasedOnStyle: LLVM
ColumnLimit: 100
---
