BasedOnStyle: LLVM
PointerAlignment: Left
IndentCaseLabels: true
ColumnLimit: 100
ContinuationIndentWidth: 2
ConstructorInitializerIndentWidth: 2
SpaceAfterTemplateKeyword: false
BinPackArguments: false
BinPackParameters: false
---
Language: JavaScript
DisableFormat: true
---
