---
Language: Cpp
BasedOnStyle: LLVM
PointerAlignment: Left
IndentCaseLabels: true
ContinuationIndentWidth: 2
ConstructorInitializerIndentWidth: 2
SpaceAfterTemplateKeyword: false
BinPackArguments: false
BinPackParameters: false
WhitespaceSensitiveMacros: ['EM_ASM', 'EM_JS', 'EM_ASM_INT', 'EM_ASM_DOUBLE', 'EM_ASM_PTR', 'MAIN_THREAD_EM_ASM', 'MAIN_THREAD_EM_ASM_INT', 'MAIN_THREAD_EM_ASM_DOUBLE', 'MAIN_THREAD_EM_ASM_DOUBLE', 'MAIN_THREAD_ASYNC_EM_ASM']
---
Language: JavaScript
BasedOnStyle: LLVM
ColumnLimit: 100
---
