[flake8]
ignore = E111,E114,E501,E261,E266,E121,E402,E241,W504
exclude =
 ./third_party/, # third-party code
 ./tools/filelock.py, # third-party code
 ./tools/scons/, # third-party code
 ./tests/freetype/src/, # third-party code
 ./tests/poppler/poppler/, # third-party code
 ./site/source/conf.py,
 ./tools/debug/,
 ./tools/emdump.py,
 ./tools/webidl_binder.py,
 ./tools/create_dom_pk_codes.py,
 ./tools/asm_module.py,
 ./tools/ffdb.py,
