[flake8]
ignore = E111,E114,E501,E261,E266,E121,E402,E241,W504,E741,B011,B023,U101
exclude =
 ./node_modules/, # third-party code
 ./third_party/, # third-party code
 ./tools/filelock.py, # third-party code
 ./tools/scons/, # third-party code
 ./test/third_party/, # third-party code
 ./site/source/conf.py,
 ./system/lib/, # system libraries
 ./cache/, # download/built content
 .git
# The ports plugins have a lot of unused imports because
# they need to implement the specific plugin APIs
per-file-ignores =
  ./tools/ports/*.py: U100
  ./test/*.py: U100
  ./tools/toolchain_profiler.py: U100
