# These files are minified JS which treat as binary avoid then showing up in
# the output of `git grep` or `git diff`
tools/crunch-worker.js -diff
third_party/lzma.js/lzma-decoder.js -diff
third_party/lzma.js/lzma-full.js -diff
test/other/test_emsize.js -diff
src/emscripten-source-map.min.js -diff
test/* linguist-vendored
third_party/* linguist-vendored
system/ linguist-vendored

AUTHORS merge=union
ChangeLog.md merge=union
