# Disable scripts to limit the exposure and spread of supply-chain attacks
ignore-scripts=true

# Enforce npm version (specified in package.json) to ensure we use a version that
# supports features we rely on (e.g. ignore-scripts, min-release-age).
engine-strict=true

# Prohibit install scripts unless listed in package.json "allowScripts" section.
strict-allow-scripts=true

# Ignore packages published less than 7 days ago, to allow time for the community
# to detect and report malicious releases.
# To override for an urgent update: npm install <pkg> --min-release-age=0
min-release-age=7

