{% extends '!layout.html' %}

{% block footer %}
<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=10096928; 
var sc_invisible=1; 
var sc_security="39cfd8da"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="hit counter"
href="http://statcounter.com/free-hit-counter/"
target="_blank"><img class="statcounter"
src="http://c.statcounter.com/10096928/0/39cfd8da/1/"
alt="hit counter"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
{% endblock %}

