name: Update website

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  update-website:
    name: Update website
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.EMSCRIPTEN_BOT_TOKEN }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - name: Checkout website repo
        uses: actions/checkout@v4
        with:
          repository: kripken/emscripten-site
          ref: gh-pages
          path: site/emscripten-site
      - name: pip install
        run: |
          which python3
          python3 --version
          python3 -m pip install -r requirements-dev.txt
      - name: Update docs
        run: |
          git config user.name emscripten-bot
          git config user.email emscripten-bot@users.noreply.github.com
          ./bootstrap
          if ./tools/maint/update_docs.py; then
             echo "rebaseline_tests returned zero, expectations up-to-date"
             # Exit early and don't create a PR
             exit 0
          else
            code=$?
            if [[ $code != 2 ]] ; then
               echo "rebaseline_docs.py failed with unexpected error $code (expected 2)"
               exit 1
            fi
          fi
          # Create a PR against the emscripten-site repo
          cd site/emscripten-site
          git push origin update
          gh pr create --fill --base gh-pages --reviewer sbc100,kripken
          gh pr merge --squash --auto
